<h1>Hi, <%=@profile.first_name%>!</h1>
<h2>Welcome to the Name Game</h2>
<div id="contest">
  <div>Who is <%= @mistery.first_name %>?</div>
  <% @connections.find_all{|connection| !connection.picture_url.empty?}.each do |connection| %>
    <span><a href="<%= request.request_uri %>&guess=<%= connection.id %>&mistery=<%= @mistery.id%>"><img src="<%= connection.picture_url %>"></a></span>
  <% end %>
 </div>
